{{ $photonb := len .Params.photogallery }}
{{ if eq $photonb 1 }}
<div class="p-0" id="lightgallery"><img loading="lazy" class="imag object-cover w-full h-full cursor-pointer rounded-md"
        src="{{ .Params.photogallery.image1.img }}"></div>
{{ else }}
<div class="flex flex-row flex-wrap w-full py-8" id="lightgallery">
        {{ range sort .Params.photogallery "order" "asc" }}
        <a class="place-self-center w-1/4 sm:w-1/6 lg:w-1/12 p-0.5" href="{{ .img }}" aria-label="See image"><img class="rounded-sm object-cover h-14" loading="lazy" src="{{ .src }}" alt="{{ .name }}"></a>
        {{ end }}
</div>
{{ end }}

{{ $lightg_js := resources.Get "js/lg.js" | minify }}
<script src="{{ $lightg_js.Permalink }}"></script>
<script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'), {
            licenseKey: "0000-0000-000-0000",
            speed: 500,
            download: false,
            loop: true,
            mode: "lg-fade",
            nextHtml: ">",
            prevHtml: "<",
            showBarsAfter: 2000,
            showMaximizeIcon: false,
            videojs: true,
            getCaptionFromTitleOrAlt: false,
            videojsOptions: {
                muted: true,
            },
            vimeoPlayerParams: {
                byline : 0,
                portrait : 0,
                color : 'CCCCCC'
            },
            youTubePlayerParams: {
                modestbranding : 1,
                showinfo : 0,
                controls : 0
            },
            loadYouTubePoster: true
        });
</script>