{{ define "main" }}
    {{ $langu := .Site.Language.Lang }}
    <section class="w-full justify-start flex flex-col md:flex-row" {{if .Params.searchWeight }}data-pagefind-weight="{{.Params.searchWeight }}"{{ end }}>
        <div class="max-w-3xl w-full pl-16 pr-5" id="content">
            {{ if .Content}}
                {{ .Content }}
            {{ end }}
        </div>
        <div class="md:w-1/3 px-5 md:pl-20 self-start">
            {{ if .Params.tablecontent }}
                <div class="tablecontent max-w-sm" id="toc">
                    <h2>{{ i18n "tableOfContent"}}</h2>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}
