{{ define "main" }}
    {{ $langu := .Site.Language.Lang }}
    <div class="w-full overflow-hidden flex flex-col md:flex-row" {{if .Params.searchWeight }} data-pagefind-weight="{{.Params.searchWeight }}" {{ end }}>
        <div class="w-1/6 pl-5 pr-20 self-end">&nbsp;</div>
        <div class="max-w-3xl w-full px-5" id="content">
            <div class="flex flex-row flex-wrap mb-8 md:mb-22">
                <div class="invisible md:visible md:mr-4 flex-shrink-0 flex-grow-0 h-0 md:h-40 w-0 md:w-40">
                    <span id="qrcode" class="block h-0 md:h-36 w-0 md:w-36 md:mb-8 md:p-3 bg-white rounded-lg"></span>
                </div>
                {{ if .Content}}<div class="flex-shrink flex-grow w-52">
                       {{ .Content }}
                </div>{{ end }}
            </div>
            {{ if .Params.slides }}
                {{ $slid := .Params.slides }}
                {{ $ord := 1 }}
                <div class="flex flex-row flex-wrap spotlight-group">{{ range $slid }}
                    <div class="w-full lg:w-44 mr-4 mb-4"><a class="place-self-center spotlight w-full" href="{{ . }}&width=3840&height=2160" aria-label="See image {{ $ord }}">
                        <img class="rounded-sm object-cover" loading="lazy" src="{{ . }}&width=660">
                    </a></div>
                    {{ $ord = add $ord 1 }}
                {{ end }}</div>
            {{ end }}
        </div>
        <div class="md:w-2/6 px-5 md:pl-20 self-start">&nbsp;</div>
    </div>
    {{ $qr_js := resources.Get "js/qrgen.js" | minify }}
    <script src="{{ $qr_js.Permalink }}"></script>
    {{ $spo_js := resources.Get "js/spotl.js" | minify }}
    <script defer src="{{ $spo_js.Permalink }}"></script>
    <script>
        const qrcode = new QRCode(document.getElementById('qrcode'), {
            text: {{.Page.Permalink }},
            width: 500,
            height: 500,
            colorDark: '#000',
            colorLight: '#fff',
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
{{ end }}
