<section>
    {{ if .Params.abstract }}
    <div class="h-auto my-10">
        <p>
            <b class="text-epierrot">{{ partial "slash.html" (dict "txt" (i18n "abstract")) }}</b>
            {{ .Params.abstract |safeHTML }}
        </p>
    </div>
    {{ end }}
    {{ if .Params.link }}
    <div class="p-5">{{ partial "doclink.html" . }}</div>
    {{ end }}
    {{ if .Params.schedule }}
    <div class="h-144 p-5">
        <p>{{ .Params.schedule |safeHTML }}</p>
    </div>
    {{ end }}
    {{ if .Params.executive}}
    <div class="italic text-sm p-5">
        <p>{{ .Params.executive }}</p>
    </div>
    {{ end }}

    {{ if .Params.photogallery }}
    {{ partial "photogallery.html" . }}
    {{ end }}
    {{ if .Params.video}}
    {{ partial "video.html" . }}
    {{ end }}
</section>